<head><link rel="stylesheet" type="text/css" href="css/login.css"></head>

<div class="jumbotron">
		<center>
		<p style="font-size:50px; color:orange">what is</h1>
		<h1 style="font-size:100px; margin-top:-40px;">ergoTracker?</h1></center>
		<p style="color:blue">An application that runs using Kinect v1. The ergoTracker team is utilizing the Kinect to track a user’s sitting posture and related habits at a desk-related environment, to give real-time, healthy advice, warning, and statistical health reports in order to improve posture.</p>
		
		<h2>Motivation</h2>
		<p style="color:blue">
		Unhealthy sitting posture for working and studying have been a serious problem for human health. As we know, the percentage of students suffered Myopia is surprisingly high in China and India. And most programmers especially the seniors have experienced different levels of cervical vertebra related diseases.</p>
		<p style="color:blue">
		Our Ergo Tracker would alleviate the current stressful situation. By tracking a person’s posture, it could warn users about their bad posture and collect statistical data to help users better understand and grow healthy habits. </p>
	
</div> 