
		<div class="container">
			<div id="sidebar"> 
				<img src={{user.website}} class="img-circle">
				<center>
				<h2 style="color:#ffffff">{{user.fullname}}</h2>
				<p style="font-size:11px;">
				Last Logged In: November 9, 2015 17:59
				</p>
				
				<br/>
				<br/>
				<br/>
				<br/>

				<p style="font-size:20px;"><a href="/profile">My Profile</a><br />
				<a href="/loggedin_home">My Assessments</a><br />
				Settings</p>
			</center>
			</div>
		</div>
			<div id = "body">
				<div id="chart"></div>
				<hr>
			<div id = "afterbody">
				<h2>Previous Suggestions:</h2>
				<ul>
				<li>November 8, 2015:</li>
					<ul>
					<li>Put a pillow behind your back.</li>
					<li>Sit 5 feet away from your computer screen.</li><br />
					</ul>
				<li>November 7, 2015:</li>
					<ul>
					<li>Sit up straight.</li><br />
					</ul>
				<li>November 6, 2015:</li>
					<ul>
					<li>Put a pillow behind your back.</li>
					<li>Sit 5 feet away from your computer screen.</li><br />
					</ul>
				<li>November 5, 2015:</li>
					<ul>
					<li>Sit up straight.</li><br />
					</ul>
				<li>November 4, 2015:</li>
					<ul>
					<li>Put a pillow behind your back.</li>
					<li>Sit 5 feet away from your computer screen.</li><br />
					</ul>
				<li>November 3, 2015:</li>
					<ul>
					<li>Sit up straight.</li><br/>
					</ul>
				<li>November 2, 2015:</li>
					<ul>
					<li>Put a pillow behind your back.</li>
					<li>Sit 5 feet away from your computer screen.</li><br />
					</ul>
				<li>November 1, 2015:</li>
					<ul>
					<li>Sit up straight.</li><br />
					</ul>
				<li>October 31, 2015:</li>
					<ul>
					<li>Put a pillow behind your back.</li>
					<li>Sit 5 feet away from your computer screen.</li><br />
					</ul>
				<li>October 30, 2015:</li>
					<ul>
					<li>Sit up straight.</li><br />
					</ul>
				<li>October 29, 2015:</li>
					<ul>
					<li>Put a pillow behind your back.</li>
					<li>Sit 5 feet away from your computer screen.</li><br />
					</ul>
				<li>October 28, 2015:</li>
					<ul>
					<li>Sit up straight.</li>
					</ul>
				</ul>
			</div>	
	</div>
	<script src="js/c3visualization.js"></script>	
